<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590561963285-6g9rcq0sok20qr05rs7cddjp78hgsct8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590561963285-6g9rcq0sok20qr05rs7cddjp78hgsct8</string>
	<key>API_KEY</key>
	<string>AIzaSyAtEJ_LtxEL9t0GMGcjX_pK_qkWRYKMFDY</string>
	<key>GCM_SENDER_ID</key>
	<string>590561963285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.virus.quarantine</string>
	<key>PROJECT_ID</key>
	<string>quarantine-app</string>
	<key>STORAGE_BUCKET</key>
	<string>quarantine-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590561963285:ios:4e0eb00eb68624a0b78d1c</string>
	<key>DATABASE_URL</key>
	<string>https://quarantine-app.firebaseio.com</string>
</dict>
</plist>